## TUGAS PRAKTIKUM PERTEMUAN 1
* Nama : Ahmad Irvandi
* NPM  : 2117051089
* Kelas : B

# Pertemuan 1

* Pemograman Dasar di Python

## Variable 
Deklarasi nilai kedalam variabel

In [ ]:
#input "8" kedalam variabel A
A = 8
print(A)
print("Output :", A)

8
Output : 8

In [ ]:
A = "8"
print(A)
print(type(A))
B = int(A)
print(B)
print(type(B))

8
<class 'str'>
8
<class 'int'>

In [ ]:
# input nilai sebagai list
nilai = [70,80,90,100,85]
print(nilai)
#nilai

[70, 80, 90, 100, 85]

In [ ]:
data = [80,"A","Joni"]
print(data)

[80, 'A', 'Joni']

## Conditional
* Mengeksekusi nilai berdasarkan kondisi

In [ ]:
if 7 == A:
    print("nilai 7 sama dengan nilai A yang mana adalah", A)
else:
    print("nilai 7 tidak sama dengan nilai A yang mana adalah",A)

nilai 7 tidak sama dengan nilai A yang mana adalah 8

In [ ]:
# mengecek nilai didalam list
if 70 in nilai:
    print("ada nilai 70 didalam list")
else:
    print("tidak ada didalam list")

ada nilai 70 didalam list

## Looping
* Mengeksekusi nilai berdasarkan perulangan

In [ ]:
# mencetak perkalian angka 2 dengan angka 0 sampai 10
for i in range(10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

## Function

## User Define Function

In [ ]:
# fungsi mencetak suat nilai
def cetak_a():
    print("A")

# panggil fungsi cetak_a
cetak_a()

A

In [ ]:
# fungsi yang mengembalikan suatu nilai dari suatu masukan
def cetak_pangkat_dua(x):
    x = x**2
    return x

#panggil fungsi cetak_pangkat_dua dengan inputan tertentu
cetak_pangkat_dua(4)

16

## Built-in Function
* memanggil fungsi bawaan dari Python

In [ ]:
nilai = [70,80,90,100,85]
# memanggil fungsi len untuk mencetak jumlah item dari list
print(len(nilai))

# memanggil fungsi max untuk mencetak nilai terbesar dari list
print(max(nilai))

#untuk tahu fungsi bawaan dari library yang ada perlu baca dokumentasinya

5
100

## Library
* sekumpulan kode yang memiliki fungsi-fungsi tertentu dan dapat dipanggil kedalam program lain

In [ ]:
# deklarasi library dengan fungsi yang ada didalamnya
import numpy as np

# inisialiasi vector dan nilai skalar
list1 = [1,2,3,4,5]
vtr1 = np.array(list1)
scalar_value = 10

#operasi perkalian vector-scalar
vtr_scalar = vtr1 * scalar_value
print(vtr_scalar)

[10 20 30 40 50]

In [ ]:
# deklarasi library dengan menggunakan nama alias
import pandas as pd

# membuat variabel dataframe (df) dengan isi list nilai dan nama kolom "nilai"
df = pd.DataFrame(nilai, columns=["nilai"])
df #dataframe

   nilai
0     70
1     80
2     90
3    100
4     85

## Tugas

In [11]:
# deklarasi library
import numpy as np

# inisialiasi vector
vector_1 = np.array([1,2,3,4,5])
vector_2 = np.array([2,4,6,8,10])

# operasi perkalian
hasil = vector_1 * vector_2
print("Vector 1 * Vector 2 :",hasil)

Vector 1 * Vector 2 : [ 2  8 18 32 50]

In [10]:
# deklarasi library
import pandas as pd

mahasiswa=['Andi','Budi','Caca','Didi']
nilai=[7,6,10,8]
keterangan=[]

#perulangan untuk menentukan masing-masing mahasiswa apakah lulus atau tidak
for i in nilai:
  if i < 7:
    keterangan.append("Belum lulus")
  else :
    keterangan.append("Lulus")

df=pd.DataFrame({"mahasiswa":mahasiswa,"nilai":nilai,"keterangan":keterangan})

#menampilkan data dengan tabel
df #DataFrame

  mahasiswa  nilai   keterangan
0      Andi      7        Lulus
1      Budi      6  Belum lulus
2      Caca     10        Lulus
3      Didi      8        Lulus

In [16]:
# deklarasi library
import pandas as pd

mahasiswa=['Andi','Budi','Caca','Didi']
nilai=[7,6,10,8]
keterangan=[]

#perulangan untuk menentukan masing-masing mahasiswa apakah lulus atau tidak
for i in nilai:
  if i < 7:
    keterangan.append("Belum lulus")
  else :
    keterangan.append("Lulus")

df=pd.DataFrame({"mahasiswa":mahasiswa,"nilai":nilai,"keterangan":keterangan})

# menentukan persentase  
persentase_lulus = (len(df[df['keterangan'] == 'Lulus'])/len(df))*100
print(persentase_lulus,"%")

75.0 %